.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 7px;
  border-bottom: none;
}

.item:first-child {
  border-left: none;
}

.item:last-child {
  border-right: none;
}

.label {
  font-size: 9px;
  text-transform: capitalize;

  margin-bottom: 5px;
}

.quantity {
  font-size: 12px;
  font-weight: 700;
}
